body {
    background-color: rgb(247, 206, 247);

}
.App {
    display: grid;
    grid-template-rows: repeat(1, 2fr);
    border: 1px solid black;
    align-items: center;


}
.Aside {
    margin: auto;
}
.Metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.avg-rating, .reviews, .Sentiment {
    border: 5px solid black;
    border-radius: 20%;
    padding: 20px;
}
.Visitors {
    display: grid;
    grid-area: 2/2/3/3;
    margin: 5px;
    border: 1px solid   black;
    border-radius: 20%;
}
